ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=phone_register;Username=postgres;Password=postgres

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5000

DB_NAME=phone_register
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432